.container {
	max-width: 600px;
	margin: 15px;
}

body {
	font-family: Helvetica;
	background-color: #333300;
	color: white;
}

a {
	color: yellow;
}

footer {
	bottom: 15px;
	position: fixed;
	max-width: 600px;
}