.container {
	max-width: 600px;
	margin: 20px;
}

.blog {
	margin-top: 60px;
}

.post-container {
	max-width: 700px;
	margin: 20px;
}


body {
	font-family: Helvetica;
	background-color: #333300;
	color: white;
	/*line-height: 1.2;*/
}

li {
	margin: 10px;
}

a {
	color: yellow;
}

footer {
	bottom: 15px;
	position: fixed;
	max-width: 600px;
}