<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>arms industry wikithon</title>
  <link rel="stylesheet" type="text/css" href="{{ '/style.css' | prepend: site.baseurl }}">
   <script>
      window.goatcounter = {
          path: function(p) { return location.host + p }
      }
  </script>
<script data-goatcounter="https://agnescam.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
<html>
  <body>
    <div class="container">
     {{ content }}
   </div>
  </body>
</html>
